.listTest{
	span{
		color:#fa2;
	}
	a{
		text-decoration: none;
	}
}
.list-text{
	width:100%;
	display:block;
	height:4.5rem;
	border-bottom:1px solid #ccc;
	padding:0.5rem;
	text-decoration: none;
	.list-author{
		height:1.5rem;
		font-size:0.8rem;
		color:#CD4F39;
	}
	.list-title{
		font-size:0.6rem;
		color:#000;
		margin-bottom:0.6rem;
	}
	.list-date{
		text-align:right;
		color:#CD4F39;
		font-size:0.5rem;
	}
}
.alert{
	margin-top:2rem;
	text-align:center;
	font-size:0.9rem;
	color:#CD4F39;
}
.listitem{
	width:100%;
	.name{
		height:1.5rem;
		font-size:0.8rem;
		color:#CD4F39;
	}
	.list-title{
		height:2rem;
		text-align:center;
		font-size:0.6rem;
	}
	.body{
		width:100%;
		font-size:0.8rem;
		color:#000;
	}
	.date{
		text-align:right;
		color:#CD4F39;
		font-size:0.7rem;
	}
}